body{
    background: blueviolet;
    
}
.container{
    
    margin-left: 50px;
    margin-right: 50px;
}
.container div{
    font-size:100px;
    text-align: center;
}
section{
    background: skyblue;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(4,auto);
    padding:5px;
}
article{ 
    display:grid;
    border:3px solid blue;
    margin: 5px;
    grid-template-columns:repeat(2,1fr);
    justify-content: space-between;
    padding:10px;

}
b{
    text-align: center;
    align-self: center;
}